@page
@model HRA.News.Web.Pages.News.IndexModel
@using Microsoft.Extensions.Localization;
@using HRA.News.Web.Resources;
@inject IStringLocalizer<SharedResourse> data;
@{
    ViewData["Title"] = "Home Page";
}


<div class="card-deck">
    @if (((System.Collections.Generic.List<HRA.News.Infrastructure.Models.Article>)Model.Articles).Count == 0)
    {
        <h1>No results found!.Please check and try again. </h1>
    }
    else
    {
        @foreach (var Article in Model.Articles)
        {
            <div class="card col-m-3" style="min-width: 18rem; max-width:30.5%;margin-bottom:15px">
                <a asp-page="/News/Details" asp-route-ID="@Article.Id" asp-route-language="@Article.Language">
                    <img class="card-img-top imageThumbnail" src=@Article.UrlToImage
                         asp-append-version="true" />
                </a>
                <div class="card-body">
                    <a asp-page="/News/Details" asp-route-ID="@Article.Id" asp-route-language="@Article.Language" class="card-title col-m-3">@Article.Title</a>
                    <p class="card-text">@Article.PublishedAt</p>
                </div>
            </div>
        }
    }
</div>